.git
.github
.DS_Store
**/.venv
**/__pycache__
**/*.egg-info
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.coverage
**/coverage
**/htmlcov
**/node_modules
**/.nuxt
**/.output
**/playwright-report
**/test-results
